.numbers {
  &__list {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    display: flex;
    flex-direction: column;
  }

  &__item {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    padding: $space;

    &:last-child {
      border-bottom-width: 0;
    }
  }
}
