.paginator {
  display: flex;
  justify-content: center;

  &__item {
    text-align: center;
    color: $black;

    background-color: $btn-primary-color;
    border-width: 0;
    padding: $space-inner;
    min-width: 36px;
    margin-left: 4px;
    margin-right: 4px;

    cursor: pointer;

    &:hover {
      background-color: $btn-primary-color-hover;
    }

    &:active {
      background-color: $btn-primary-color-active;
    }

    &--actived {

    }

    &--disabled {

    }
  }
}
