.topbar {
  background-color: $primary-color;
  display: flex;
  padding: 14px $horizontal-space;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $index-upcontent;

  &__title {
    align-items: center;
    color: $black;
    display: flex;
    flex: 1;
    font-size: $title-size;
    margin: 0;
  }
}
