*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-default;
  font-size: $font-size-default;
  color: $text-color;
  background-color: $body-bg
}

#page {
  padding-top: $vertical-space;
  padding-bottom: $vertical-space;
  margin-top: $topbar-height;
  margin-bottom: $bottombar-height;
}

#wrap {
  padding-left: $horizontal-space;
  padding-right: $horizontal-space;
}

